// COLORS
$coffee-fontColor: #d9eae3;
$coffee-fontColor-1: #bfb1ab;
$coffee-fontColor-2: rgb(190, 199, 211);
$coffee-fontColor-4: #b58751;
$coffee-fontColor-3: #3e1b0aff;
$coffee-fontColor-5: #271f1f;
$paragraph-color: #f1ebe7;

//$coffee-fontColor-2: #271f1f;

$coffee-bg: #8c5c3d;
$coffee-bg1: #3b2f2f;
$coffee-bg2: #eecfb4;
$coffee-bg3: #2f3027;
$coffee-bg4: #bfb1ab;
$coffee-bg5: rgb(190, 199, 211);

// SHADOW
$btnShadow: 0px 2px 10px 0px $coffee-fontColor-5;
