.blogPage {
  //border: 2px solid red;
  background-image: linear-gradient(
    180deg,
    $coffee-bg1 5%,
    $coffee-bg4 100%,
    $coffee-bg4 100%,
    $coffee-bg5 100%
  );

  &__contents {
    //border: 2px solid green;
    max-width: 1400px;
    margin: 5rem auto;
    position: relative;
    z-index: -1;
  }
}
